{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content %}
<!-- <div class="container">    
    <div class="col-md-10">
        {{macro.displayNewsList(news)}}
    </div>

    <div class="col-md-2">
        <a href="{{ url_for('main.index')}}">
            <h2>OVERVIEW PAGE</h2>
        </a>

        <a href="{{ url_for('main.index')}}">
            <P>BBC News</P>
        </a>

        <a href="{{ url_for('main.index')}}">
            <P>New York Times</P>
        </a>

        <a href="{{ url_for('main.index')}}">
            <P>CCNN News</P>
        </a>

        <a href="{{ url_for('main.index')}}">
            <P>Al Jazeera News</P>
        </a>
    </div>
</div> -->
{% endblock %}
